AccessModifierOffset: -4
AlignAfterOpenBracket: false
AlignConsecutiveAssignments:
  Enabled: true
  AlignFunctionDeclarations: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignFunctionDeclarations: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AlignFunctionDeclarations: true
  PadOperators: true
AlignEscapedNewlines: Right
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: BinPack
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakInheritanceList: BeforeColon
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true
ColumnLimit: 200
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
Cpp11BracedListStyle: FunctionCall
DerivePointerAlignment: false
DisableFormat: false
FixNamespaceComments: true
IncludeBlocks: Merge
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
KeepEmptyLines:
  AtStartOfBlock: false
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 100
PointerAlignment: Left
ReflowComments: Always
SortIncludes:
  Enabled: true
  IgnoreCase: true
SortUsingDeclarations: Never
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 4
UseTab: ForContinuationAndIndentation
